.sidebar-btn {
  background: #fff;
  border: none;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  padding: 0 20px;
  height: 35px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin-top: 3px;
  margin-left: 12px;
}

.list-items {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  list-style-type: none;
  color: #000;
  cursor: pointer;
  padding: 0 15px 20px 20px;
}

.li-items {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  font-weight: 600;
}

.li-items:hover {
  background-color: skyblue;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: auto;
  border: 1px solid rgb(223, 199, 199);
  background-color: rgb(208, 227, 238);
  border-radius: 6px;
}
