.knbn-heading {
  display: inline-block;
  align-items: flex-start;
  padding-left: 20px;
  /* background-color: red; */
  font-weight: 700;
  font-size: larger;
  font-family: sans-serif;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sc-llYSUQ,
fMINrO {
  color: black;
}

.sc-eCstlR,
iZzUdc {
  width: 400px;
  max-width: 500px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  padding: 11px 20px;
  border-radius: 5px;
  background-color: #0179bf;
  margin-top: 55px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 11px 20px;
  border-radius: 5px;
  background-color: #0179bf;
}

.list-items {
  list-style-type: none;
}
