.knbn-heading {
  display: inline-block;
  align-items: flex-start;
  padding-left: 20px;
  font-weight: 700;
  font-size: larger;
  font-family: sans-serif;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sc-llYSUQ,
fMINrO {
  color: black;
}

.sc-eCstlR,
iZzUdc {
  width: 400px;
  max-width: 500px;
  margin-left: 75px;
  margin-bottom: 10px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  padding: 11px 20px;
  border-radius: 5px;
  background-color: #0179bf;
  margin-top: 55px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 11px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 600px;
}

.list-items {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.li-items {
  display: flex;
  align-items: center;
  /* padding: 11px 20px; */
  border-radius: 5px;
  background-color: #ffffff;
  height: 50px;
}

p.li-items {
  font-size: larger;
  font-family: sans-serif;
  font-weight: 700;
  border: 1px solid #0179bf;
  padding: 5px 10px 5px 10px;
}

p.li-items:hover {
  background-color: #0179bf;
  color: white;
}

.sc-iJKOTD {
  color: black;
}

.sc-iqseJM {
  margin-right: 2px;
}
